/* intuitivni box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

.banner,
.obdelnik {
	padding: 30px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
}

.banner { background-color: #e74c3c; }
.obdelnik { background-color: #2ecc71; }

/*
Nastav CSS pro třídu .banner tak, aby:
- ve výchozím stavu (=na mobilu) bude banner skrytý
- na obrazovce širší než 800px se banner zobrazí
*/

/* ------------ PRVNÍ ŘEŠENÍ ------------ */

.banner {
	display: none;
}

@media screen and (min-width: 800px) {
	.banner {
		display: block;
	}

	/* .kontejner {			// dá tři obdélníky vedle sebe
		display: flex;
	}

	.obdelnik {
		flex: 1 1 calc(100% / 3);
		border: 1px solid white;
	} */
}

/* ------------ DRUHÉ ŘEŠENÍ ------------*/

/* @media screen and (max-width: 800px) {
	.banner {
		display: none;
	}
} */
