/* intuitivnejsi box-sizing */
*, :after, :before { box-sizing: border-box; }

body {
	font: 24px/1 sans-serif;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/


/*
	Jsem na tebe hodný a už jsem ti připravil
	základní styl pro logo a pro odkazy.
*/
.hlavicka {
	padding: 10px;
	border: 1px solid silver;
}

.logo {
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	background-color: #f0f0f0;
	color: #e74c3c;
	display: block;
	padding: 10px 20px;
}

a:hover {
	background-color: #e74c3c;
	color: white;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu li {
	margin-top: 2px;
}

@media screen and (min-width: 640px) {

	.menu ul{
		display: flex;
		justify-content: space-between;		
	}

	.menu li {
		flex: 0 0 calc((100% - 6px) / 4);
		margin-top: 0;
	}
}

@media screen and (min-width: 1000px) {
	.hlavicka {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		margin: 0;
	}

	.menu ul {
		justify-content: flex-end;
	}

	.menu li {
		margin-left: 2px;
	}

}